{% extends "dashboard-base.html" %}
{% load static %}


{% block content %}
	    
        <!-- dashboard menu begin -->
        <div class="container">
            <div class="d-xl-block d-none">
                <div class="db-menu">
                    <ul class="nav nav-pills">
                        {% comment %} <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="index.html">
                                <i class="fa-duotone fa-gauge fa-lg"></i>overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="dashboard-transaction-history.html">
                                <i class="fa-duotone fa-arrow-right-arrow-left fa-lg" style="font-size: 20px;"></i>
                                transaction <span class="d-xxl-inline d-xl-none">history</span></a>
                        </li> {% endcomment %}
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'server:bet-history' %}">
                                <i class="fa-duotone fa-dice fa-lg"></i>bet history</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'server:deposit' %}">
                                <i class="fa-duotone fa-sack-dollar fa-lg"></i>
                                deposit</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'server:withdraw' %}">
                                <i class="fa-duotone fa-upload fa-lg"></i>withdraw <span class="d-xxl-inline d-xl-none">funds</span></a>
                        </li>
                        
                        {% comment %} <li class="nav-item">
                            <a class="nav-link" href="dashboard-referral.html">
                                <i class="fa-duotone fa-users fa-lg" style="font-size: 18px;"></i>referral</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="dashboard-settings.html"><i class="fa-duotone fa-gear fa-lg" style="--fa-primary-opacity: 0.4; --fa-secondary-opacity: 1;"></i>
                                settings</a>
                        </li> {% endcomment %}
                    </ul>
                </div>
            </div>
            <div class="d-xl-none d-block">
                <div class="db-offset-menu-control">
                    <span class="text">dashboard menu</span>
                    <button class="btn-for-bs-offset" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" id="offcanvasExampleLabel">
                        <i class="fa-regular fa-bars"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- dashboard menu end -->
        
        <!-- dashboard-statics begin  -->
        <div class="dashboard-statics">
            <div class="container">
                <div class="row g-lg-4 g-2">
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                        <div class="single-statics">
                            <div class="part-icon">
                                <img src="{% static 'assets-2/img/db-statics/image-1.png' %}" alt="">
                            </div>
                            <div class="part-text">
                                <span class="text">Main balance</span>
                                <span class="descr">{{ request.user.account_balance }} </span>
                            </div>
                        </div>
                    </div>
                    
                   
                </div>
            </div>
        </div>
        <!-- dashboard-statics end  -->

        <!-- db-elements begin -->
        <div class="db-elements">
            <div class="container">
                <div class="row">
                                        
                    
                    <div class="col-xl-12 col-lg-12">
                        <div class="single-db-element mb-0">
                            <h4 class="title">
                                <span class="icon wallet">
                                    <img src="{% static 'assets-2/img/icon/wallet-deposit.png' %}" alt="">
                                </span>
                                <span class="text">deposit into Account</span>
                                
                            </h4>
                            <div class="part-form">
                                <form method="POST" >
                                    {% csrf_token %}
                                    <div class="row">
                                        <p style="color:red; text-align:center;">{{message}}</p>
                                        <div class="col-xl-12 col-lg-12 col-md-12">
                                            <label for="deposit_first_name" class="form-label"><span>Enter amount</span></label>
                                            {% comment %} <input type="text" id="deposit_first_name" placeholder="ex: 5042.00"> {% endcomment %}
                                            {{ form.amount }}
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12">
                                            <label for="deposit_first_name" class="form-label"><span>Enter Phone Number</span></label>
                                            {% comment %} <input type="text" id="deposit_first_name" placeholder="ex: 5042.00"> {% endcomment %}
                                            {{ form.phoneNumber }}
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12">
                                          
                                            <label class="form-label"><span>Select your payment wallet</span></label>
                                            <div class="dropdown select-list wallet-select">
                                                {% comment %} <button class="dropdown-toggle" type="button" id="wallet-select" data-bs-toggle="dropdown" aria-expanded="false"> {% endcomment %}
                                                    {{ form.payment_method }}
                                                {% comment %} </button> {% endcomment %}
                                                {% comment %} <ul class="dropdown-menu" aria-labelledby="wallet-select">
                                                   
                                                    <li><a class="dropdown-item active" href="#">Bitcoin (BTC)</a></li>
                                                    <li><a class="dropdown-item" href="#">Ethereum (ETH) </a></li>
                                                    <li><a class="dropdown-item" href="#">Litecoin (LTC)</a></li>
                                                    <li><a class="dropdown-item" href="#">Local (USD)</a></li>
                                                </ul> {% endcomment %}
                                            </div>
                                        </div> 
                                    </div>
                                    <button class="prd-btn-1">
                                        deposit <i class="fa-duotone fa-arrow-right"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- db-elements end -->
        
{% endblock content %}     